"*":
  Zen:
    softWrap: true
  "atom-clock": {}
  "atom-material-ui":
    colors:
      abaseColor: "#005496"
      accentColor: "#af4d00"
      genAccent: true
      paintCursor: true
    fonts: {}
    tabs:
      compactTabs: true
      noTabMinWidth: true
      tintedTabBar: true
    treeView:
      blendTabs: true
      compactList: true
    ui:
      animations: false
      useAnimations: false
  "autocomplete-bibtex":
    bibtex: [
      "~/Dropbox/Reading/Library/library.bib"
    ]
  "autocomplete-plus":
    autoActivationDelay: 150
    fileBlacklist: [
      "*.tex"
    ]
    includeCompletionsFromAllBuffers: false
    useAlternateScoring: false
  build:
    saveOnBuild: true
    scrollOnError: true
  core:
    audioBeep: false
    disabledPackages: [
      "language-gfm"
      "markdown-preview"
      "preview-inline"
    ]
    openEmptyEditorOnStart: false
    projectHome: "~/Code/repos/"
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "pen-paper-coffee-syntax"
    ]
    titleBar: "hidden"
  editor:
    backUpBeforeSaving: true
    fontFamily: "Operator Mono"
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    tabType: "soft"
  "exception-reporting":
    userId: "0443359c-b234-d917-c2e8-6b6912bdd8c3"
  latex:
    alwaysOpenResultInAtom: true
    buildOnSave: true
  "linter-ui-default":
    panelHeight: 81
    showPanel: true
  "linter-write-good":
    severityLevel: "Warning"
  "markdown-preview-enhanced":
    breakOnSingleNewline: false
    enableTypographer: true
    enableWikiLinkSyntax: false
    enableZenMode: true
    exportPDFPageFormat: "A4"
    frontMatterRenderingOption: "none"
    mathRenderingOption: "MathJax"
    pandocArguments: "--smart"
    pandocMarkdownFlavor: "markdown-raw_tex+tex_math_single_backslash+yaml_metadata_block+definition_lists+backtick_code_blocks+fenced_code_blocks+auto_identifiers+inline_notes+raw_html+pipe_tables+autolink_bare_uris+ascii_identifiers+intraword_underscores+strikeout+hard_line_breaks+shortcut_reference_links"
    pandocPath: "/usr/local/bin/pandoc"
    pdfUseGithub: false
    previewTheme: "atom-material-syntax-light"
    printBackground: false
    singlePreview: false
    usePandocParser: true
    whiteBackground: true
  "markdown-preview-plus":
    enableLatexRenderingByDefault: true
    enablePandoc: true
    pandocArguments: [
      "--smart"
    ]
    pandocBIBFileFallback: "/Users/ad.3103/Dropbox/Reading/Library/library.bib"
    pandocBibliography: true
    pandocCSLFileFallback: "/Users/ad.3103/.adamaltmejd/pandoc/chicago-author-date-adam.csl"
    pandocMarkdownFlavor: "markdown-raw_tex+tex_math_single_backslash+yaml_metadata_block+definition_lists+backtick_code_blocks+fenced_code_blocks+auto_identifiers+inline_notes+raw_html+pipe_tables+autolink_bare_uris+ascii_identifiers+intraword_underscores+strikeout+hard_line_breaks+shortcut_reference_links"
    pandocPath: "/usr/local/bin/pandoc"
    pandocRemoveReferences: false
    useGitHubStyle: true
    useNativePandocCodeStyles: true
  "markdown-writer": {}
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "pdf-view":
    fitToWidthOnOpen: true
  "r-exec":
    advancePosition: true
    whichApp: "iTerm"
  "sync-settings":
    _lastBackupHash: "c183597b9139f59284c4000fdabd2d12aa4dabd6"
    gistId: "043cfef62fd616b09d0e31c70d769af5"
    personalAccessToken: "df7d56132cede65a632b1c58d6abfb72e8fc6a99"
    removeObsoletePackages: true
  "tidy-markdown": {}
  "tool-bar":
    position: "Left"
  "tool-bar-markdown-writer": {}
  "tree-view":
    alwaysOpenExisting: true
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
  wordcount:
    hidechars: true
    ignorecode: true
".beamer.latex.tex.text":
  editor:
    softWrapHangingIndent: 2
    tabLength: 2
".bibtex.text":
  editor:
    softWrapHangingIndent: 2
    tabLength: 2
".gfm.source":
  editor:
    gutter: false
    showIndentGuide: false
    showLineNumbers: false
    softWrap: true
    softWrapAtPreferredLineLength: true
    softWrapHangingIndent: 0
    tabLength: 4
".latex.log.text":
  editor:
    softWrapHangingIndent: 2
    tabLength: 2
".latex.memoir.tex.text":
  editor:
    softWrapHangingIndent: 2
    tabLength: 2
".latex.tex.text":
  editor:
    softWrapHangingIndent: 2
    tabLength: 2
".md.text":
  editor:
    showIndentGuide: false
    softWrapAtPreferredLineLength: true
    tabLength: 4
".tex.text":
  editor:
    softWrapHangingIndent: 2
